<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssenjoymusicapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.DanhSachTatCaAlbumActivity" />
        <activity android:name=".Activity.DanhSachPLaylistActivity" />
        <activity android:name=".Activity.PlayNhacActivity" />
        <activity android:name=".Activity.DanhSachBaiHatActivity" />
        <activity android:name=".Intro.intro_welcome" android:theme="@style/AppThemeIntro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity">

        </activity>
    </application>

</manifest>